@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  *:focus-visible {
    @apply outline-none ring-2 ring-primary-500 ring-offset-2;
  }
  ::selection {
    @apply bg-primary-200 text-primary-900;
  }
}
